script(src="https://www.googletagmanager.com/gtag/js?id=G-9SE1CLRQ9S")
script(type="text/javascript")
    | window.dataLayer = window.dataLayer || [];
    | function gtag(){dataLayer.push(arguments);}
    | gtag('js', new Date());
    | gtag('config', 'G-9SE1CLRQ9S');
