include menu

.header
  .container
    .page-header
      h1.site-title.text-muted
        block headerTitle
      p Shared <a href="https://twitter.com/pmmunderhood">Twitter account</a> for Product Marketing Managers
  .container
    include share-text
