.navbar
  .container
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false")
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand.visible-xs(href="/")
        span.text-muted @
        b= underhood.name
    .navbar-collapse.collapse#navbar-collapse
      .row
        ul.nav.navbar-nav
          li
            a.btn.btn-success(href="https://twitter.com/"+underhood.name)
              b Subscribe
          //- li
            a(href="/") Archive
          //- li
            a(href="/stats/") Statistics
          li
            a(href="/about/") About
          li
            a(href="/authoring/") Become an author
          li
            a(href="/instruction/") Memo for the author
          li.hidden-sm
            a(href="https://github.com/"+github.user+"/"+github.repo) GitHub
          li.hidden-sm
            a(href="https://github" +
            ".com/iamstarkov/awesome-collective-twitters") Similar projects
